html, body {
    height: 100%;
    width: auto;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, rgb(196, 205, 247), rgb(168, 206, 255));
    font-family: Arial, sans-serif;
    color: black;
}
div#div1 {
    width: 100%;
    top: 0px;
}

div#div2 {
    color: rgb(80, 133, 204);
    height: 50px;
    background: white;
    text-align: center;
    align-content: center;
    font-size: larger;
    font-weight: 600;
    box-shadow: 0px 4px 3px rgb(122, 154, 224);
} 

div#div4{
    padding: 0px 20px;
}
.container {
    display: flex;
    flex-direction: column;
    background: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    height:min-content;
    width: 40%;
    margin-top: 20px;
    margin-left: 30%;
    border-radius: 8px;
    border: 2px solid rgb(75, 121, 219);
    box-shadow: -1px 10px 6px rgb(122, 154, 224);
    padding-bottom: 10px;
}


select {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
}

button {
    border-radius: 10px;
    border: blue;
    color: white;
    margin-top: 10px;
    padding: 10px;
    background: linear-gradient(to right, rgb(0, 110, 255), rgb(53, 103, 179));
}
button:hover {
    background: linear-gradient(to right, rgb(1, 54, 124), rgb(22, 43, 75));
}

footer {
    text-align: center;
    padding-top: 20px;
}
pre {
    background: #eee;
    padding: 10px;
    text-align: left;
    border-radius: 5px;
    overflow-x: auto; /* Garante rolagem horizontal caso necessário */
    white-space: pre-wrap; /* Mantém a quebra de linha correta */   
}